{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "php://stderr",
        "stryker": {
            "report": "main"
        },
        "github": true
    },
    "minMsi": 78,
    "minCoveredMsi": 93
}
